@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  user-select: none;

}

canvas {
  touch-action: none;
}

.scrim-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}


.brand-container {
  width: 100%;
  overflow: hidden;
}
.brand-logos {
  display: flex;
  white-space: nowrap;
}
.brand-logo {
  display: flex;
  align-items: center; /* Center logos vertically within each .brand-logo container */
  justify-content: center; /* Center logos horizontally within each .brand-logo container */
  flex-shrink: 0;
  width: 200px; /* Adjust based on actual logo size */
  padding: 10px;

}
.brand-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}